#tinymce p{ font-size:17px; line-height:2.5; letter-spacing:0.8px; }
#tinymce p span{ line-height:1.4;}
.undeline-yellow{ font-weight:bold; background: linear-gradient(transparent 65%, rgba(255,239,87,0.5) 65%); }
.undeline-pink{ font-weight:bold; background: linear-gradient(transparent 65%, rgba(255,77,191,0.5) 65%); }
#tinymce a{ font-size:16px; line-height:2.0; letter-spacing:0.8px; color:#ff4dbf; text-decoration:none; }
#tinymce h3{ position:relative; margin:60px 0 20px; padding:0 0 15px 30px; font-size:22px; font-weight:bold; letter-spacing:1px; line-height:1.4; color:#ff4dbf; border-bottom:2px solid #ff4dbf; }
#tinymce h3 span{ position:relative; z-index:1; }
#tinymce h3:after{ content:''; position:absolute; top:-30px; left:0; z-index:0; display:block; width:70px; height:70px; background:url(../assets/images/headline-bg.png); background-size:cover; }
#tinymce h4{ position:relative; display:inline-block; margin:40px 0 20px; padding:0 30px 5px 30px; color:#ff5757; border-bottom:1px dotted #ffca55; font-size:20px; letter-spacing:1px; line-height:1.4; font-weight:bold; }
#tinymce h4:before{ content:''; position:absolute; top:-15px; left:0; display:block; width:26px; height:30px; background:url(../assets/images/h4-bg.png) no-repeat; }
.h3-clone-headline{ position:absolute; top:-20px; left:35px; font-size:11px; color:rgba(255,77,191,0.6); display:block; width:calc(100vw - 60px); line-height:1.0; }
#tinymce iframe{ max-width:100%; margin:20px 0; }
#tinymce img{ max-width:100%; }
#tinymce ul li{ font-size:16px; line-height:1.8; padding:5px 0; list-style-type:disc; }
#tinymce ol li{ font-size:16px; line-height:1.8; padding:5px 0; list-style-type:decimal; }
.line-left{ opacity:0; width:80%; margin:15px 0 0; display:flex; justify-content:flex-start; align-items:flex-start; }
.line-left__icon{ width:10%; display:flex; flex-wrap:wrap; justify-content:center; }
.line-left__icon:before{ content:''; display:block; width:60px; height:60px; background:#CCC; border-radius:60px; }
.line-left__icon span{ font-size:11px; }
.line-left__text{ position:relative; width:85%; margin:0 0 30px 5%; padding:15px; background:#b0f4da; border-radius:10px; }
.line-left__text:before{ position:absolute; left:-20px; top:0; content:''; border:15px solid transparent; border-left:30px solid #b0f4da; transform:skew(25deg,0deg) rotate(-30deg); border-radius:5px; }
.line-right{ opacity:0; width:80%; margin:15px 0 0 20%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow:row-reverse; }
.line-right__icon{ width:10%; display:flex; flex-wrap:wrap; justify-content:center; }
.line-right__icon:before{ content:''; display:block; width:60px; height:60px; background:#CCC; border-radius:60px; }
.line-right__icon span{ font-size:11px; }
.line-right__text{ position:relative; width:85%; margin:0 5% 30px 0; padding:15px; background:#f9aae8; border-radius:10px; }
.line-right__text:after{ position:absolute; right:-20px; top:0; content:''; border:15px solid transparent; border-right:30px solid #f9aae8; transform:skew(-25deg,0deg) rotate(30deg); border-radius:5px; }
.line--active{ position:relative; animation:lineAppear 0.3s ease-in-out forwards; }
/* SP */
@media only screen and (max-width:767px){
  .line-left{ width:90%; }
  .line-left__icon{ width:20%; }
  .line-left__text{ width:70%; margin:0 0 30px 10%; }
  .line-right{ width:90%; margin:15px 0 0 10%; }
  .line-right__icon{ width:20%; }
  .line-right__text{ width:70%; margin:0 10% 30px 0; }
}
