.line-left{ width:80%; margin:15px 0 0; display:flex; justify-content:flex-start; align-items:flex-start; }
.line-left__icon{ width:10%; display:flex; flex-wrap:wrap; justify-content:center; }
.line-left__icon:before{ content:''; display:block; width:60px; height:60px; background:#CCC; border-radius:60px; }
.line-left__icon span{ font-size:11px; }
.line-left__text{ position:relative; width:85%; margin:0 0 30px 5%; padding:15px; background:#b0f4da; border-radius:10px; }
.line-left__text:before{ position:absolute; left:-20px; top:0; content:''; border:15px solid transparent; border-left:30px solid #b0f4da; transform:skew(25deg,0deg) rotate(-30deg); border-radius:5px; }
.line-right{ width:80%; margin:15px 0 0 20%; display:flex; justify-content:flex-start; align-items:flex-start; flex-flow:row-reverse; }
.line-right__icon{ width:10%; display:flex; flex-wrap:wrap; justify-content:center; }
.line-right__icon:before{ content:''; display:block; width:60px; height:60px; background:#CCC; border-radius:60px; }
.line-right__icon span{ font-size:11px; }
.line-right__text{ position:relative; width:85%; margin:0 5% 30px 0; padding:15px; background:#f9aae8; border-radius:10px; }
.line-right__text:after{ position:absolute; right:-20px; top:0; content:''; border:15px solid transparent; border-right:30px solid #f9aae8; transform:skew(-25deg,0deg) rotate(30deg); border-radius:5px; }
/* SP */
@media only screen and (max-width:767px){
  .line-left{ width:90%; }
  .line-left__icon{ width:15%; }
  .line-left__text{ width:75%; margin:0 0 30px 10%; }
  .line-right{ width:90%; margin:15px 0 0 10%; }
  .line-right__icon{ width:15%; }
  .line-right__text{ width:75%; margin:0 10% 30px 0; }
}
